<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <title>Ошибка</title>
  </head>
  <style media="screen">
    body {
      background: url({% static 'bg.jpg' %});
      background-repeat: no-repeat;
      background-size: auto;
      }
  </style>
  <body>
    <div class="reserve response">
      Пожалуйста заполните все поля
      <form class="" action="/" method="post">{% csrf_token %}
        <input type="submit" name="" value="На главную">
      </form>
    </div>
  </body>
</html>
